src/
tsconfig.json
tsup.config.ts
tailwind.config.js
postcss.config.js
babel.config.js

node_modules/
.vscode/
npm-debug.log
*.log

.git/
.github/
.gitignore

__tests__/
*.test.*
*.spec.*
*.stories.*

../playground/
